body{
    background-color: #ffff00;
    margin: 0px;
    box-sizing: border-box;
}

form{
    background-color: black;
    color: white;
    width: 20vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 5px solid red;
}


.input-container{
    background-color: rgb(58, 58, 58);
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.input-container input{
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(58, 58, 58);
    border: 0px;
    width: 75%;
    box-sizing: border-box; 
    display: inline-block;
    margin-left: 40px;
}

.input-container img{
    width: 8%;
    position: relative;
    top: 8px;
    left: 20px;
    display: inline-block;
}

.input-container-ni{
    background-color: rgb(58, 58, 58);
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.input-container-ni input{
    color: white;
    padding-left: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(58, 58, 58);
    border: 0px;
    width: 100%;
    box-sizing: border-box;
}

.input-container-ni select{
    color: white;
    padding-left: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(58, 58, 58);
    border: 0px;
    width: 100%;
    box-sizing: border-box;
}


.login{
    margin-top: 20PX;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.login a{
    color: white;
    margin-left: 30px;
}

.login button{
    margin-top: 30px;
    color: red;
    background-color: black;
    border: 3px solid red;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;

}
button:visited {
    color: red;
    }
button:hover {
    color: white;
    border-color: white;
    }
  
button:active {
    color: #0000FF;
    }

.radio{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    padding: 20px 20px 20px 20px;
}
